@model Dictionary<string, string>
@{
    Layout = null;
}
<!-- Subscribe Start -->
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="subscribe-content section-title text-center">
                    <h2>subscribe our newsletter</h2>
                    <p>I must explain to you how all this mistaken idea </p>
                </div>
                <div class="newsletter-form mc_embed_signup">
                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your e-mail address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                            <button id="mc-embedded-subscribe" class="default-btn" type="submit" name="subscribe"><span>subscribe</span></button>
                        </div>
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe End -->
<!-- Footer Start -->
<footer class="footer-area">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-widget pr-60">
                        <div class="footer-logo pb-25">
                            <a href="~/assets/index.html"><img src="~/assets/img/logo/@Model["FooterLogo"]" alt="eduhome"></a>
                        </div>
                        <p>@Html.Raw(@Model["FooterDescription"])</p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="~/assets/#"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="~/assets/#"><i class="zmdi zmdi-pinterest"></i></a></li>
                                <li><a href="~/assets/#"><i class="zmdi zmdi-vimeo"></i></a></li>
                                <li><a href="~/assets/#"><i class="zmdi zmdi-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>information</h3>
                        <ul>
                            <li><a href="~/assets/#">addmission</a></li>
                            <li><a href="~/assets/#">Academic Calender</a></li>
                            <li><a href="~/assets/event.html">Event List</a></li>
                            <li><a href="~/assets/#">Hostel &amp; Dinning</a></li>
                            <li><a href="~/assets/#">TimeTable</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>useful links</h3>
                        <ul>
                            <li><a href="~/assets/course.html">our courses</a></li>
                            <li><a href="~/assets/about.html">about us</a></li>
                            <li><a href="~/assets/teacher.html">teachers &amp; faculty</a></li>
                            <li><a href="~/assets/#">teams &amp; conditions</a></li>
                            <li><a href="~/assets/event.html">our events</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>get in touch</h3>
                        <p>Your address goes here, Street<br>City, Roadno 785 New York</p>
                        <p>+880  548  986  898  87<br>+880  659  785  658  98</p>
                        <p>info@eduhome.com<br>www.eduhome.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright © <a href="~/assets/#" target="_blank">HasTech</a> 2017. All Right Reserved By Hastech.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->