@model SpeakerViewModel
@{
    ViewData["Title"] = "Speaker Update";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Speaker Update</h4>

                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="Image">Image</label>
                            <input class="form-control" asp-for="Image" placeholder="Image" accept="image/*">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="FullName">FullName</label>
                            <input class="form-control" asp-for="FullName" placeholder="FullName">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Job">Job</label>
                            <input class="form-control" asp-for="Job" placeholder="Job">
                            <span asp-validation-for="Job" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-warning mr-2">Update</button>
                        <a class="btn btn-light" asp-action="Index">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
