@model Skill
@{
    ViewData["Title"] = "Skill Detail";
}

<div style="color: dimgray; margin-left:15px">
    <h2>Name: @Model.Name</h2>
    <h3>Rate: @Model.Rate%</h3>
</div>
<div style="margin-left:15px; list-style:none; color: dodgerblue; display:flex; gap:5px; align-items: center">
    <h3>Teacher:</h3>
    <h4>@Model.Teacher.FullName;</h4>
</div>

<div style="display: flex; gap: 15px">
    <a class="btn mx-3 btn-info" asp-action="Index">Go Back</a>
</div>
