@model Dictionary<string, string>
@{
    Layout = null;
}

<!-- Header Area Start -->
<header class="top">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="header-top-left">
                        <p>HAVE ANY QUESTION ?  @Model["HeaderPhone"]</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="header-top-right text-right">
                        <ul>
                            <li><a href="~/assets/login.html">login</a></li>
                            <li><a href="~/assets/signup.html">signup</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-area two header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="logo">
                        <a href="~/assets/index.html"><img src="~/assets/img/logo/@Model["HeaderLogo"]" alt="eduhome" /></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    <div class="content-wrapper text-right">
                        <!-- Main Menu Start -->
                        <div class="main-menu" style="display:flex; align-items:center; justify-content:center;">
                            <nav>
                                <ul style="display:flex; gap:30px; margin-right:100px">
                                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li>
                                        <a asp-controller="Course" asp-action="Index">courses</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Event" asp-action="Index">event</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Teacher" asp-action="Index">teacher</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Blog" asp-action="Index">blog</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Main Menu End -->
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="mobile-menu hidden-lg hidden-md hidden-sm"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
