@model List<Setting>
@{
    ViewData["Title"] = "Setting";
}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Settings</h4>
                    <div class="table-responsive">
                        <a class="btn btn-primary" asp-action="Create">Create</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Key</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var setting in Model)
                                {
                                    <tr>
                                        <td>@setting.Key</td>
                                        <td>
                                            <a class="btn btn-success" asp-action="Detail" asp-route-id="@setting.Id">Detail</a>
                                            <a class="btn btn-warning" asp-action="Update" asp-route-id=@setting.Id>Update</a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id=@setting.Id>Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
